{% extends 'base.html' %}
{% load widget_tweaks %}
{% load extra_tags %}

{% block title %} Log In {% endblock %}

{% block content %}
    <form method="post" class="d-flex flex-column align-items-center justify-content-center w-25 ms-auto me-auto needs-validation"
          style="flex-grow: 1;"
          aria-describedby="form-errors"
          novalidate>
        {% csrf_token %}
        <div class="d-flex align-items-center me-auto mt-4 mb-5">
            <button type="button" class="border-0 p-0 me-3" style="background: transparent" onclick="window.history.back()">
                <img src="/media/icons/back.png" alt="back" class="back-arrow">
            </button>
            <h1>Login</h1>
        </div>
        {% for field in form %}
            <div class="form-floating w-100 ms-auto me-auto {% if form.non_field_errors %} is-invalid" aria-describedby="error-forms"{% else %}mb-3"{% endif %}>
                {% if not field.errors and not form.non_field_errors %}
                    {% render_field field placeholder=field.label class+="form-control form-field" id=field.label %}
                    <label for="{{ field.label }}">{{ field.label }}</label>
                {% else %}
                    {% with "invalid-"|addstr:field.label as aria %}
                        {% render_field field placeholder=field.label class+="form-control form-field is-invalid" id=field.label aria-describedby=aria %}
                    {% endwith %}
                    <label for="{{ field.label }}">{{ field.label }}</label>
                    <div id="invalid-{{ field.label }}" class="invalid-feedback">
                        {% for error in field.errors %}
                            {{ error }} <br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if form.non_field_errors %}
            <div id="error-forms" class="invalid-feedback w-100 ms-auto me-auto mb-3">
                {% for error in form.non_field_errors %}
                    {{ error }} <br>
                {% endfor %}
            </div>
    {% endif %}
        <div class="d-flex mb-3">
        <input type="submit" value="Login" class="submit rounded-pill ms-auto me-2">
        <a href="{% url 'accounts:signup' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
           class="submit rounded-pill text-decoration-none ms-2 me-auto">
            Signup</a>
        </div>
    </form>

{% endblock %}